.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.content {
  background-image: url("images/wroclaw2.jpg") !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.login_form {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  width: 50%;
  height: 300px;
  margin-left: 25%;
}

.reserved {
  display: none !important;
}
